$primary-color: #FF9D00;
$secondary-color: #30FFCF;
$color-button-grey: #34344C;
$color-border-button: rgba(207, 215, 233, 0.4);
$color-border-header: #F0F0F0;
$color-border-image: #3F4260;

$background-color-light: #1E1E2B;
$background-color-dark: #161620;

$lighter-font-color: #6B7589;
$ligher-shade-of-gray: #949292;
$darker-shade-of-gray: #666464;
$darker-font-color: #131313;
$secondary-darker-color: #353941;
$whiter-font-color: #FFFFFF;
$card-color: #15151E;
$card-border-color: #101018;
