@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$font-primary: 'Inter', sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-plus: 600;
$font-weight-semi-bold: 700;

$font-size-base: 16px;
$font-size-medium: 48px;
$font-size-large: 61px;
